:root {
  --couleur1: #7661678b;
  --couleur2: #889ba6;
  --couleur3: #ead7c3;
}

html, body{
    background-color: var(--couleur1);
    color: #333;
    margin: 0;
    font-family: "Trebuchet MS", Arial, sans-serif;
    background-color: var(--couleur3);
}

*{
    box-sizing: border-box;
}

.global {
  max-width: 1100px;
  margin: 0 auto;
  background-color: rgba(136, 155, 166, 0.951);
  padding: 20px;
}

/*  .entete {
    background-color:--couleur1;
}  */

 @include regle_couleur_back(".entete", $couleur1);

.principal {
  background: rgba(255, 255, 255, 0.165); 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.pied {
  background-color: var(--couleur1);
  padding: 20px;
  border-top: 2px solid var(--couleur2);
  color: white;
}

.pied__colonne {
  padding: 10px;
}

.global .pied__global{
  display: flex;
  flex-direction: column;
}

.pied__global {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
  }
}




 
