/*
<nav class="menu-principal-container"><ul id="menu-principal" class="menu"><li id="menu-item-58" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-58"><a href="http://localhost/31W/index.php/2020/10/07/393-5e1-methodes-de-recherche-et-preparation-au-marche-du-travail-45h/">Méthodes de recherche et préparation au marché du travail</a></li>
<li id="menu-item-59" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-59"><a href="http://localhost/31W/index.php/2020/10/07/582-1j1-animation-et-interactivite-en-jeu-75h/">Animation et interactivité en jeu</a></li>
<li id="menu-item-60" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-60"><a href="http://localhost/31W/index.php/2020/10/07/description-du-cours-582-1m2-conception-graphique-et-imagerie-matricielle/">Conception graphique et imagerie matricielle</a></li>
<li id="menu-item-61" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-61"><a href="http://localhost/31W/index.php/2020/10/07/582-2w2animation-et-interactivite-web-75h/">Animation et interactivité Web</a></li>
<li id="menu-item-62" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-62"><a href="http://localhost/31W/index.php/2020/10/07/582-3c1-design-dinteractivite-75h/">Design d’interactivité</a></li>
</ul></nav>
*/

//nav
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

//nav
.menu-principal-container {
  display: flex; // Caché par défaut
  flex-direction: row;
  padding: 1rem;
  /* display: flex;
  justify-content: center;
  background-color: var(--couleur2);
  z-index: 1000; */

  &.active {
    display: flex;
  }

  // ul
  .menu {
    display: flex;
    list-style: none;
    gap: 15px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;

    //li
    .menu-item {
      margin: 0;
      padding: 0;
      animation: fadeIn 0.5s ease forwards;

      a {
        position: relative;
        display: block;
        padding: 10px;
        color: #333;
        text-decoration: none;
        text-transform: uppercase;
        transition: color 0.4s ease;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          height: 2px;
          width: 0;
          background-color: var(--couleur3);
          transition: width 0.6s ease;
        }

        &:hover {
          background-color: rgba(254, 206, 85, 0.423);
          color: black;

          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}

.burger {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;

  span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  &.active {
    span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
    span:nth-child(2) {
      opacity: 0;
    }
    span:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }
}

/* Styles pour petits écrans */
@media (max-width: 768px) {
  .burger {
    display: flex;
  }

  .menu-principal-container {
    display: none;

    & .active {
      transform: translateX(0);
    }
  }

  .menu {
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;

    & .menu-item a {
      font-size: 1.2em;
    }
  }
}
