/*
<nav class="menu-principal-container"><ul id="menu-principal" class="menu"><li id="menu-item-58" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-58"><a href="http://localhost/31W/index.php/2020/10/07/393-5e1-methodes-de-recherche-et-preparation-au-marche-du-travail-45h/">Méthodes de recherche et préparation au marché du travail</a></li>
<li id="menu-item-59" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-59"><a href="http://localhost/31W/index.php/2020/10/07/582-1j1-animation-et-interactivite-en-jeu-75h/">Animation et interactivité en jeu</a></li>
<li id="menu-item-60" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-60"><a href="http://localhost/31W/index.php/2020/10/07/description-du-cours-582-1m2-conception-graphique-et-imagerie-matricielle/">Conception graphique et imagerie matricielle</a></li>
<li id="menu-item-61" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-61"><a href="http://localhost/31W/index.php/2020/10/07/582-2w2animation-et-interactivite-web-75h/">Animation et interactivité Web</a></li>
<li id="menu-item-62" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-62"><a href="http://localhost/31W/index.php/2020/10/07/582-3c1-design-dinteractivite-75h/">Design d’interactivité</a></li>
</ul></nav>
*/

//nav
.menu-principal-container {
  // ul
  .menu {
    display: flex;
    list-style: none;
    //li
    .menu-item {
      margin: 0;
      padding: 0;
      a {
        display: block;
        color: black;
        text-decoration: none;
        transition: color 0.4s ease;

        &:hover {
          color: red;
          text-decoration: underline;
        }
      }
    }
  }
}

/*
.menu-principale-container
.menu-principale-container .menu 
.menu-principale-container .menu .menu-item 
.menu-principale-container .menu .menu-item a
*/
